body, .modal-content {
  background-color: #f7fbfc;
}

.master-container {
  min-height: 100vh;
}

textarea {
  resize: none;
}

.text-about-me {
  height: 8rem !important;
}

.basic-checkbox {
    margin: 0;
}

.navbar-logo {
    max-width: 5rem;
}

.feedback-button {
  color: white;
  
}
.feedback-button:hover {
  color: white;
}

.navbar {
    background-color: #ff2700;
    padding-left: 2rem;
    padding-right: 2rem;
}

.location-zipcode {
    width: 150px;
    display: inline-block;
}

.navbar-content {
    align-self: right;
}

.navbar-content > .nav-link {
    color: white !important;
}

.navbar-content-footer > .nav-link {
  color: black !important;
  font-size: 80%;
}

.navbar-footer {
  background-color: #fec0ae;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-content > .active {
    color: grey !important;
    background-color: white !important;
}

.submit-button {
    background-color: #ff2700 !important;
}

.checkbox-div {
    max-width: 100%;
}

.single-checkbox-div {
    margin: 5px 5px;
}

.single-checkbox {
    background-color: #ffffff;
    border-color: #ff2700;
    color: #ff2700;
}

.single-checkbox.active {
    background-color: #ff2700 !important;
    border-color: #ff2700 !important;
}

.single-checkbox:active {
    background-color: #ff2700 !important;
    color: #ff2700;
    border-color: #ff2700;
}

.single-checkbox:hover {
    background-color: #ff2700 !important;
    border-color: #ff2700;
}

.addfood-container {
    padding: 50px 50px;
    border: 1px solid rgb(202, 202, 202);
    width: 50%;
    margin-top: 2%;
}

.outer-container {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-upload-input {
    visibility: hidden;
}

.image-upload-preview {
    cursor: pointer;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}

.form-text {
    text-align: left;
}

.form-value {
    text-align: center;
}

.profile {
    width: 600px;
    border: 1px solid rgb(202, 202, 202);
    padding: 60px;
    background-color: white;
}
.text-about-me-label {
  /* width: 400px; */
  color: grey;
  font-size: 18px;
  text-align: center;
}

.filterbar-container {
    width: 40%;
    padding: 2% 2%;
    height: fit-content;
}

.basic-horizontal-div {
    display: flex;
    flex-direction: row;
}

.price-slider {
  width: 100%;
}

.price-range-text {
    margin: 5px 5px;
    margin-bottom: 0;
}

.filter-button {
    margin-top: 10px;
}

.quantity-input {
  text-align: center;
  padding: 0;
  margin: 0;
}

.quantity-input-div {
  width: 110px !important;
  margin: 0;
  padding: 0;
  margin-right: 20px !important;
}

.rating-modal-div {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  margin-bottom: 15px;
}

.custom-rating {
  width: fit-content;
  align-self: center;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      border: 1px solid rgb(202, 202, 202);
      width: 450px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
}

.saveHeart {
  float: right;
  margin: 10px;
  color: red;
}

.saveOpenHeart {
  float: right;
  margin: 10px;
  color: red;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.ViewFoodOptions {
    border-radius: 3px;
    max-width: 100%;

}

.Review-container {
  border-radius: 3px;
  max-width: 100%;
  padding-top: 10px;
}

.food-option {
    height: 9rem;
}
.food-option-view-menu {
  height: 8rem;
}

.food-option-view-menu-top {
  height: 8rem;
  /* box-shadow: radial-gradient( #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient( #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%); */
  
}

.rating-profile {
  margin-top: -7px;
}

.review-button-margin {
  margin-top: 8px;
}

  .vfo-image {
    width: 6.5rem;
    height: 6.5rem;
    object-fit: cover;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* padding-right: 0px; */

  }
  .vfo-description {
    /* display: block; */
    color: rgba(111, 95, 95, 0.67);
    font-size: 0.75em;
    margin-top: -1rem;
    /* margin-top: -9%; */
  }

  .review-bowl {
    position:absolute;
    bottom:0;
  }
  
  .vfo-foodname {
    padding-top: 5px;
    font-weight: bold;
  }

  .reviewer-name {
    padding-top: 1px;
    font-weight: bold;
  }

  .vfo-chefname {
    line-height: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .vfo-price {
    float: right !important;
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 50%;
    padding-top: 5px;
    margin-left: auto;
  }

.food-option-inner {
    display: flex;
    flex-direction: row;
}

.vfo-info {
    text-align: left;
    margin-left: 4%;
    width: 80%;
}

.review-info {
  text-align: left;
  /* margin-left: 4%; */
  width: 100%;
}

  .home {
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
}

.homec {
  display: flex;
  flex-direction: row;
  margin: 2% 2%;
}

.homecook-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.homecook-card {
  width: 15rem !important;
  margin: 10px auto;
}

.bag-link {
  width: 25px;
  margin-left: 5px;
}

.bag-number {
  font-size: 15px !important;
  color: white;
}

.bag-popover {
  max-width: 300px;
  width: 60rem;
  min-height: 100px;
}

.bag-item-container {
  display: flex;
  flex-direction: row;
}

.bag-item-price {
  width: 40px;
  margin-left: auto;
  font-size: 15px;
}

.bag-item-quantity {
  margin-right: 15px;
}

.bag-item-name {
  width: 100%;
}

.bag-itemlist-container {
  margin-top: 50px;
}

.delete-item-button {
  margin-right: 5px;
  margin-left: auto;
  margin-top: -6%;
  width: auto;
  height: auto;
}

.delete-item-image {
  width: 20px;
}

.food-link-chef {
  margin-left: 3px;
  padding: 0;
}

.food-link-name {
  padding: 0;
}

.checkout-container {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.checkout-items {
  width: 500px;
}

.checkout-items-list {
  width: 100%;
}

.delivery-container {
  width: 50%;
  margin: 0 2%;
  border: solid lightgray 0.5px;
  border-radius: 1%;
  padding: 2%;
  background-color: white;
}

.input-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.address-inputs {
  width: 50%;
  margin: 1%;
}
.promo-code {
  text-align: left;
}

.address-div {
  margin-bottom: 5%;
}

.paypal-button {
  margin-top: 50px;
}

.order-item-info {
  display: flex;
  flex-direction: row;
  }
  
  .order-item-quantity {
  margin-left: auto;
  margin-right: 70%;
  }
  
  .orders-type-tabs {
  margin: 3rem 0;
  }
  
  .orders-container {
  display: flex;
  flex-direction: column;
  flex-flow: center;
  justify-content: center;
  padding-top: 20px;
  }
  
  .orders-list {
  width: 70%;
  max-height: 500px;
  align-self: center;
  overflow-y: scroll;
  margin-top: 20px;
  }
  
  .order-item-button-div {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-left: auto;
  color: gray;
  }
  
  .order-item-info {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .margined-buttons {
  margin: 0 10px;
  align-self: center;
  }
  
  .order-tooltip {
    padding: 2%;
    padding-right: 7.5rem;
    visibility: visible;
    min-width: 200px;
    max-width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    align-self: center;
  }
  
  .order-tooltip-outer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    opacity: 0.9;
    max-width: 500px;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    align-self: center;
  }
  
  .order-item-div {
    display: flex;
    flex-direction: row;
  }

  .paypal-button-div {
    justify-content: center;
    display: flex;
  }

.food-modal-footer {
  display: flex;
  flex-direction: column;
}

.clear-order-info {
  font-size: 12px;
  color: gray;
}

.food-modal-add {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right !important;
  text-align: right;
}

.recent-orders-heading {
  font-size: 20px;
}

.recent-order-inner {
  display: flex;
  flex-direction: row;
  width: 20rem;
}

.recent-order-image {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}

.recent-order-date {
  color: rgba(111, 95, 95, 0.67);
  font-size: 0.75em;
  margin-top: -1rem;
}

.recent-order-name {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.85rem;
}

.recent-link-name {
  text-align: left;
}

.recent-orders-container > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recent-orders-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.recent-order {
  margin: 2rem;
  padding: 10px;
  width: fit-content !important;
}

.order-item-holder {
  display: flex;
  flex-direction: row;
}

.order-item-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.rate-orders-heading {
  margin-top: 15px;
  font-size: 20px;
}

.rate-submit-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rate-submit {
  width: 100%;
  align-self: center;
}

@media all and (min-width: 480px) {
    .Register {
      border: 1px solid rgb(202, 202, 202);
      width: 450px;
    }
    .form {
      margin: 0 auto;
      max-width: 320px;
      padding-top: 60px;
      padding-bottom: 50px;
    }
    
    .title {
      
      /* display: flex; */
      justify-content: left;
      align-items: center;
      height: 33px;
      background-color: #ff2700;
      color: #ffffff;
      padding-left: 22px;
    }
    input {
      border: 1px solid rgb(202, 202, 202);
      border-radius: 4px;
      height: 25px;
      width: 100%;
      font-size: .9em
    }
    .form input.error {
      border-color: red;
    }
    input:focus {
      outline: none;
    }
    .note {
      display: block;
      color: rgba(111, 95, 95, 0.67);
      font-size: 0.7em;
    }
    .sb-text {
      font-size: 0.7em;
      margin-top: 20px;
    }
    .sb-text a {
      text-decoration: none;
      color: #337ab7;
    }
    label {
      display: block;
    }
    .required-field {
      display: none;
      color: red;
      font-size: 0.5em;
      text-align: left;
    }
    .hidden {
      display: none;
    }
    .form span.required {
      display: block;
    }
}
.profileEmail {
  color: grey;
  font-size: 18px;
}
.cook-image {
    cursor: pointer;
    height: 20rem;
    /* width: 20rem; */
    object-fit: cover;
}
.image-upload-preview-modal {
    height: 8rem;
    align-content: center;
}
.wrapped-cook-text {
  text-overflow: ellipsis;
  overflow: hidden; 
  /* width: 160px;  */
  /* height: 1.2em;  */
  white-space: nowrap;
}

.wrapped-review-text {
  display: -webkit-box;
  max-width:100%;
  height: 40px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.625;
}

.text-profile-name-modal {
  font-size: 1.2em;
}

.text-profile-description-modal {
  color: grey;
  font-size: 15.5px;
  margin-top: 5px;
}
.center-col {
  height: 200px;
  overflow-y: scroll;
}
.delivery-time {
  font-size: 15.5px;
}

.hidden { 
  display:none; 
}

.request-button {
  float: right;

}

.request_texts {
  display: inline-block;
  float: left;
  text-align: left;
}

.profile-footer-modal {  
  justify-content: space-between;  
}

.footer-review-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-review {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
  /* width: 50%; */
}

.alert-fixed {
  position: fixed; 
  top: 60px; 
  left: 25%;
  z-index: 9999; 
  width: 50%;
}
