.basic-checkbox {
    margin: 0;
}

.navbar-logo {
    max-width: 5rem;
}

.navbar {
    background-color: #ff2700;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-content {
    align-self: right;
}

.navbar-content > .nav-link {
    color: white !important;
}

.navbar-content > .active {
    color: grey !important;
    background-color: white !important;
}

.submit-button {
    background-color: #ff2700 !important;
}

.checkbox-div {
    max-width: 100%;
}

.single-checkbox-div {
    margin: 5px 5px;
}

.single-checkbox {
    background-color: #ffffff;
    border-color: #ff2700;
    color: #ff2700;
}

.single-checkbox.active {
    background-color: #ff2700 !important;
    border-color: #ff2700 !important;
}

.single-checkbox:active {
    background-color: #ff2700 !important;
    color: #ff2700;
    border-color: #ff2700;
}

.single-checkbox:hover {
    background-color: #ff2700 !important;
    border-color: #ff2700;
}

.addfood-container {
    padding: 50px 50px;
    border: 1px solid rgb(202, 202, 202);
    width: 50%;
    margin-top: 2%;
}

.outer-container {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-upload-input {
    visibility: hidden;
}

.image-upload-preview {
    cursor: pointer;
    max-width: 15rem;
}

.form-text {
    text-align: left;
}

.form-value {
    text-align: center;
}

.profile {
    width: 600px;
    border: 1px solid rgb(202, 202, 202);
    padding: 60px;
}

.text-about-me {
    width: 400px;
}

.filterbar-container {
    width: 25%;
    margin: 2% 2%;
    padding: 2% 2%;
}

.basic-horizontal-div {
    display: flex;
    flex-direction: row;
}

.price-range-text {
    margin: 5px 5px;
    margin-bottom: 0;
}

.filter-button {
    margin-top: 10px;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      border: 1px solid rgb(202, 202, 202);
      width: 450px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}