.basic-checkbox {
    margin: 0;
}

.navbar-logo {
    max-width: 5rem;
}

.navbar {
    background-color: #ff2700;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-content {
    align-self: right;
}

.navbar-content > .nav-link {
    color: white !important;
}

.navbar-content > .active {
    color: grey !important;
    background-color: white !important;
}

.submit-button {
    background-color: #ff2700 !important;
}

.checkbox-div {
    max-width: 100%;
}

.single-checkbox-div {
    margin: 5px 5px;
}

.single-checkbox {
    background-color: #ffffff;
    border-color: #ff2700;
    color: #ff2700;
}

.single-checkbox.active {
    background-color: #ff2700 !important;
    border-color: #ff2700 !important;
}

.single-checkbox:active {
    background-color: #ff2700 !important;
    color: #ff2700;
    border-color: #ff2700;
}

.single-checkbox:hover {
    background-color: #ff2700 !important;
    border-color: #ff2700;
}

.addfood-container {
    padding: 50px 50px;
    border: 1px solid rgb(202, 202, 202);
    width: 50%;
    margin-top: 2%;
}

.outer-container {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-upload-input {
    visibility: hidden;
}

.image-upload-preview {
    cursor: pointer;
    max-width: 15rem;
}

.form-text {
    text-align: left;
}

.form-value {
    text-align: center;
}

.profile {
    width: 600px;
    border: 1px solid rgb(202, 202, 202);
    padding: 60px;
}

.text-about-me {
    width: 400px;
}

.filterbar-container {
    width: 30%;
    padding: 2% 2%;
}

.basic-horizontal-div {
    display: flex;
    flex-direction: row;
}

.price-slider {
  width: 100%;
}

.price-range-text {
    margin: 5px 5px;
    margin-bottom: 0;
}

.filter-button {
    margin-top: 10px;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      border: 1px solid rgb(202, 202, 202);
      width: 450px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.ViewFoodOptions {
    border-radius: 3px;
    max-width: 65%;
    
  }

.food-option {
    height: 8rem;
}

  .vfo-image {
    max-width: 100%;
    max-height: 100px;  
    min-width: 100px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* padding-right: 0px; */

  }
  .vfo-description {
    /* display: block; */
    color: rgba(111, 95, 95, 0.67);
    font-size: 0.75em;
    margin-top: -1rem;
    /* margin-top: -9%; */
    
  }
  
  .vfo-foodname {
    padding-top: 5px;
    font-weight: bold;
  }

  .vfo-chefname {
    line-height: 100%;
  }
  
  .vfo-price {
    float: right !important;
    font-weight: bold;
    font-size: 0.90em;
    margin-left: 50%;
    padding-top: 5px;
    margin-left: auto;
  }

.food-option-inner {
    display: flex;
    flex-direction: row;
}

.vfo-info {
    text-align: left;
    margin-left: 4%;
    width: 80%;
}

  .home {
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
}

.homec {
  display: flex;
  flex-direction: row;
  margin: 2% 2%;
}

@media all and (min-width: 480px) {
    .Register {
      border: 1px solid rgb(202, 202, 202);
      width: 450px;
    }
    .form {
      margin: 0 auto;
      max-width: 320px;
      padding-top: 60px;
      padding-bottom: 50px;
    }
    
    .title {
      
      /* display: flex; */
      justify-content: left;
      align-items: center;
      height: 33px;
      background-color: #ff2700;
      color: #ffffff;
      padding-left: 22px;
    }
    input {
      border: 1px solid rgb(202, 202, 202);
      border-radius: 4px;
      height: 25px;
      width: 100%;
      font-size: .9em
    }
    .form input.error {
      border-color: red;
    }
    input:focus {
      outline: none;
    }
    .note {
      display: block;
      color: rgba(111, 95, 95, 0.67);
      font-size: 0.7em;
    }
    .sb-text {
      font-size: 0.7em;
      margin-top: 20px;
    }
    .sb-text a {
      text-decoration: none;
      color: #337ab7;
    }
    label {
      display: block;
    }
    .required-field {
      display: none;
      color: red;
      font-size: 0.5em;
      text-align: left;
    }
    .hidden {
      display: none;
    }
    .form span.required {
      display: block;
    }
    }