.navbar-logo {
    max-width: 5rem;
}

.navbar {
    background-color: #ff2700;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-content {
    align-self: right;
}

.navbar-content > .nav-link {
    color: white !important;
}

.navbar-content > .active {
    color: grey !important;
    background-color: white !important;
}

.submit-button {
    background-color: #ff2700 !important;
}

.checkbox-div {
    align-content: left !important;
    display: inline-block;
}

.addfood-container {
    padding: 50px 50px;
    border: 1px solid rgb(202, 202, 202);
    width: 50%;
    margin-top: 2%;
}

.outer-container {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-upload-input {
    visibility: hidden;
}

.image-upload-preview {
    cursor: pointer;
    max-width: 15rem;
}

.form-text {
    text-align: left;
}

.form-value {
    text-align: center;
}

.profile {
    width: 600px;
    border: 1px solid rgb(202, 202, 202);
    padding: 60px;
}

.text-about-me {
    width: 80%;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      border: 1px solid rgb(202, 202, 202);
      width: 450px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
}

.ViewFood {
    border: 1px solid rgb(202, 202, 202);
    /* width: 100% !important; */
    margin-right: auto;
    padding: 5%;
    height: 100%;
  }
  .vfo-image {
    max-width:100%;
    max-height:100px;  
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
  }
  .vfo-description {
    /* display: block; */
    color: rgba(111, 95, 95, 0.67);
    font-size: 0.75em;
    text-align: left;
  
  }
  
  .vfo-chefname {
    padding-top: 5px;
    align-items: flex-end;
  }

  .vfo-foodname {
    padding-top: 5px;
    align-items: flex-end;
  }

  .vfo-price {
    text-align: right;
    font-weight: bold;
    font-size: 0.90em;
  }
