.navbar-logo {
    max-width: 5rem;
}

.navbar {
    background-color: #ff2700;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-content {
    align-self: right;
}

.navbar-content > .nav-link {
    color: white !important;
}

.navbar-content > .active {
    color: grey !important;
    background-color: white !important;
}

.submit-button {
    background-color: #ff2700 !important;
}